
.welcome {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 1%;
    padding: 0%;
    background-image: url('/intro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure full viewport height */
}

/* Add animation to text */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Style the text */
h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out forwards; /* Apply the animation */
}

.specs {
    display: flex;
    height: 100vh;
}

/* Control the left side */
.specs .left {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/* Control the right side */
.specs .right {
    flex: 1;
    background-color: #555;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Style the image inside the centered container, if needed */
.specs img {
    max-width: 100%;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .specs {
        flex-direction: column;
    }
    .specs .left, .specs .right {
        width: 100%;
    }
    .about {
        margin-top: 150%;
        position: relative;
    }
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5vh;
    text-align: center;
   
}
td{
    background-color: #555;
    color: #f1f1f1;
}
th, td {
    border: 1px solid #000000;

    padding: 8px;
    text-align: center; 
      
}
th {
    background-color: #f2f2f2;
    
}

/* Make the table responsive */
div.table-container {
    overflow-x: auto;
}

/* Hide the image column on smaller screens */
@media (max-width: 600px) {
    th:first-child,
    td:first-child {
        display: none;
    }
}

.about {
    margin-top: 10vh;
    background-color: #060606;
    padding: 20px;
    position: relative; 

  }
  .about h2{
  text-align: center;
    margin-bottom: 20px;
  }
  
  .about h2 {
    color: antiquewhite;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about p {
    color: #f1f1f1;
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
  }
 .social{
    background-color: black ;
    margin-top: 2vh;
    padding-left: 35%;
    object-fit: cover;
    align-items: center;
    display:relative;
 }
 